@using WebApplication6.Models
@model Person

@{
    ViewBag.Title = "NewPerson";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>NewPerson</h2>
<hr />

@using (Html.BeginForm("NewPerson"))
{
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="txtad">Adınız       </span>
        </div>
        @Html.TextBoxFor(x => x.FirstName, new { @class = "form-control", placeholder = "Bir isim giriniz..", aria_label = "Username", aria_describedby = "txtad" })
    </div>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="txtsoyad">Soyadınız </span>
        </div>
        @Html.TextBoxFor(x => x.LastName, new { @class = "form-control", placeholder = "Bir Soyisim giriniz..", aria_label = "Username", aria_describedby = "txtsoyad" })
    </div>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="txtyas">Yaşınız     </span>
        </div>
        @Html.TextBoxFor(x => x.Age, new { @class = "form-control", placeholder = "Yaşınızı giriniz..", aria_label = "Username", aria_describedby = "txtyas" })
    </div>
    <hr />

    <div class="row">
        <div class="col-md-3">
            <button type="submit" class="btn btn-primary btn-sm">Kişi Ekle</button>
        </div>

        <div class="col-md-6">
            @*başta boş klayıt olduktan sonra değer atayacağı için null olmaktan çıkıyor*@
            @*//Ve sadece @if bloğu ile birlikte açsaydık yani buradaki gibi bir div in için de olmasaydı hata verecekti*@
            <div>

                @if (ViewBag.result != null)
                {
                    <div class="alert alert-@ViewBag.status" role="alert">@ViewBag.result</div>
                }

            </div>
        </div>

        <div class="col-md-3">

        </div>
    </div>


}




